.header.onScroll .header_default {
  top: -80px;
  transition: all 300ms;
}
.header .header_default {
  display: flex;
  top: 0px;
  justify-content: center;
  position: fixed;
  width: 100%;
  background: #fff;
  margin: 0 auto;
  height: 80px;
  z-index: 99;
  transition: all 300ms;
}
.header .header_default__header-left {
  position: absolute;
  left: 22px;
}
.header .header_default__header-left .logo-header {
  position: relative;
  left: 25px;
  top: 0px;
}
.header .header_default__header-left .logo-header a {
  margin-top: 20px;
  display: block;
  width: 217px;
  height: 36px;
  background: url(../img/icons/smstxconst_logo.png) no-repeat;
}
.header .header_default__header-center {
  position: relative;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 300ms;
}
.header .header_default__header-center.on {
  height: 400px;
  transition: height 300ms;
}
.header .header_default__header-center.on .after {
  height: 400px;
  transition: height 300ms;
}
.header .header_default__header-center .after {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 0px;
  background: rgba(0, 0, 0, 0.5);
  transition: height 300ms;
}
.header .header_default__header-center .menu-header {
  display: flex;
  justify-content: center;
}
.header .header_default__header-center .menu-header .menu-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .header_default__header-center .menu-header .menu-main *:hover {
  color: #f00;
}
.header .header_default__header-center .menu-header .menu-main:after {
  content: " ";
  position: absolute;
  top: 70px;
  width: 100%;
  height: 300px;
  background: transparent;
}
.header .header_default__header-center .menu-header .menu-main > li {
  position: relative;
  width: 178px;
  text-align: center;
}
.header .header_default__header-center .menu-header .menu-main > li a h2 {
  display: inline-block;
  padding: 26px 0;
  font-family: "NotoSansMedium";
  font-size: 19px;
  color: #000;
}
.header .header_default__header-center .menu-header .menu-main .menu-sub {
  position: absolute;
  top: 80px;
  width: 100%;
  margin: 35px 0;
  line-height: 1.8;
}
.header .header_default__header-center .menu-header .menu-main .menu-sub a {
  color: #fff;
  font-size: 15px;
}
.header .header_default__header-right {
  position: absolute;
  top: 28px;
  right: 30px;
}
.header .header_default__header-right a {
  position: relative;
  padding: 0 10px;
  font-size: 15px;
  font-family: "NotoSansMedium";
  color: #888;
}
.header .header_default__header-right a:first-child:after {
  position: absolute;
  right: -2px;
  top: 6px;
  width: 1px;
  height: 11px;
  background: #999;
  content: "";
}
.header .header_default__header-right a.on {
  color: #000;
}

.footer {
  position: relative;
  background: #4e4e4e;
  height: 168px;
}
.footer .container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
.footer__logo {
  display: inline-block;
  width: 122px;
  height: 28px;
  vertical-align: top;
  background: url(../img/icons/logo_footer.png) no-repeat bottom;
}
.footer__info {
  display: inline-block;
  color: #c3c3c3;
  font-size: 13px;
  padding-left: 135px;
  line-height: 1.8;
}