section {
  position: relative;
}
section .container {
  max-width: 1400px;
}

.main_title {
  position: relative;
  width: 100%;
  height: 910px;
  background-image: url("../img/main/img_visual01.png");
  background-attachment: fixed;
  background-size: cover;
}
.main_title__text {
  position: absolute;
  top: 230px;
  left: 14%;
  text-align: left;
}
.main_title__text h2 {
  position: relative;
  color: #fff;
  font-size: 70px;
  font-family: "NotoSansMedium";
  line-height: 1.1;
}
.main_title__text p {
  color: #fff;
  font-size: 21px;
  margin-top: 42px;
}
.main_title__btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
}
.main_title__btn .btn-scroll {
  width: 33px;
  height: 33px;
  background-position: -122px 0;
}

.main_business {
  background: #f8f8f8;
}
.main_business__title h2 {
  position: relative;
  padding-bottom: 22px;
  color: #111;
  font-family: "NotoSansBold";
  font-size: 44px;
  padding-top: 100px;
  text-align: center;
}
.main_business__title p {
  margin-top: 25px;
  text-align: center;
}
.main_business__list {
  padding-bottom: 133px;
}
.main_business__list ul {
  display: table;
  width: 1200px;
  margin: 70px auto 0;
}
.main_business__list ul li {
  display: inline-block;
}
.main_business__list ul a {
  position: relative;
  display: inline-block;
  transition: all 0.2s linear;
}
.main_business__list ul a p {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding-top: 98px;
}
.main_business__list ul .list_img {
  width: 240px;
  height: 420px;
  background: url(../img/main/img_business.png) no-repeat;
}
.main_business__list ul .list1 .list_img {
  background-position: 0px 0px;
}
.main_business__list ul .list2 .list_img {
  background-position: -240px 0px;
}
.main_business__list ul .list3 .list_img {
  background-position: -480px 0px;
}
.main_business__list ul .list4 .list_img {
  background-position: -720px 0px;
}
.main_business__list ul .list5 .list_img {
  background-position: -960px 0px;
}