.header {
  &.onScroll {
    .header_default {
      top: -80px;
      transition: all 300ms;
    }
  }
  .header_default {
    display: flex;
    top: 0px;
    justify-content: center;
    position: fixed;
    width: 100%;
    // max-width: 1859px;
    background: #fff;
    margin: 0 auto;
    height: 80px;
    z-index: 99;
    transition: all 300ms;
    &__header-left {
      position: absolute;
      left: 22px;
      .logo-header {
        position: relative;
        left: 25px;
        top: 0px;
        a {
          margin-top: 20px;
          display: block;
          width: 217px;
          height: 36px;
          background: url(../img/icons/smstxconst_logo.png) no-repeat;
        }
      }
    }
    &__header-center {
      position: relative;
      width: 100%;
      height: 80px;
      top: 0;
      left: 0;
      overflow: hidden;
      transition: all 300ms;
      &.on {
        height: 400px;
        transition: height 300ms;
        .after {
          height: 400px;
          transition: height 300ms;
        }
      }

      .after {
        position: absolute;
        top: 80px;
        width: 100%;
        height: 0px;
        background: rgba(0, 0, 0, 0.5);
        transition: height 300ms;
      }
      .menu-header {
        display: flex;
        justify-content: center;
        .menu-main {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          *:hover {
            color: #f00;
          }
          &:after {
            content: " ";
            position: absolute;
            top: 70px;
            width: 100%;
            height: 300px;
            background: transparent;
          }
          > li {
            position: relative;
            width: 178px;
            text-align: center;
            a {
              h2 {
                display: inline-block;
                padding: 26px 0;
                font-family: "NotoSansMedium";
                font-size: 19px;
                color: #000;
              }
            }
          }
          .menu-sub {
            position: absolute;
            top: 80px;
            width: 100%;
            margin: 35px 0;
            line-height: 1.8;
            a {
              color: #fff;
              font-size: 15px;
            }
          }
        }
      }
    }
    &__header-right {
      position: absolute;
      top: 28px;
      right: 30px;
      a {
        position: relative;
        padding: 0 10px;
        font-size: 15px;
        font-family: "NotoSansMedium";
        color: #888;

        &:first-child {
          &:after {
            position: absolute;
            right: -2px;
            top: 6px;
            width: 1px;
            height: 11px;
            background: #999;
            content: "";
          }
        }
        &.on {
          color: #000;
        }
      }
    }
  }
}

.footer {
  position: relative;
  background: #4e4e4e;
  height: 168px;
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
  }
  &__logo {
    display: inline-block;
    width: 122px;
    height: 28px;
    vertical-align: top;
    background: url(../img/icons/logo_footer.png) no-repeat bottom;
  }
  &__info {
    display: inline-block;
    color: #c3c3c3;
    font-size: 13px;
    padding-left: 135px;
    line-height: 1.8;
  }
}
